#Подключение к удаленному серверу .htaccess
#<IfModule mod_rewrite.c>
#  RewriteEngine on
#  RewriteBase /
#  RewriteCond %(HTTP_HOST) ^www.itproger.com
#  RewriteRule (.*) https://itproger.com/$1 [R=301,L]
#  RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php\ HTTP/
#  RewriteRule ^index\.php$ https://itproger.com/ [R=301,L]
#</IfModule>

ServerSignature off
AddDefaultCharset UTF-8

  RewriteEngine on
  RewriteRule ^index?$ index.php [NC,L]
  RewriteRule ^ad?$ ad.php [NC,L]
  RewriteRule ^kontakti?$ kontakti.php [NC,L]
  ErrorDocument 404 /404.php
